.titulo-principal{
  font: 40px italic;
  color: white;
  text-align: center;
  text-shadow: 2px 2px red;
} 

.imagen{
  display: block;
  margin: auto;
  border-color: black;
  border-style: solid;
}

.contenido{
    font-size: 20px;
	border-radius: 20px;
	border-style: solid;
	border-color:  white;
	padding: 15px;
	max-width: 950px;
	text-align: justify;
	margin:auto;
	display:block;	 
    overflow: hidden; 
}

span{
  text-shadow: 3px 3px red;
  font-size: 80px;
  font-family: serif;
  background-color: #00BFFF;
}

em{
  background-color: #F7FE2E;
}

body{
    background-image:  url("../imagenes/fondos.jpg")
}

p{
  color: #FF9900;
}

.siguientes{
  width: 12%;
}

 .siguientes ul {
   list-style-type: none;
   padding-left: 0px;
 }
 .siguientes ul li {
   padding-left: 10px;
   margin-top: 10px;
   background-color: white;
   border-radius: 16px;
 }

 #disqus_thread{
  background-color: lightsalmon;
  }