 .titulo-principal{
  font: italic bold 40px monospace;
  color: white;
  text-align: center;
  text-shadow: 2px 2px red;
}

body{
   background-image:  url("../imagenes/fondos.jpg")
}

.contenido{
  font-size: 20px;
	border-radius: 20px;
	border-style: solid;
	border-color: #99FF00;
	padding: 20px;
	max-width: 980px;
	text-align: justify;
	margin:auto;
  display:block;	 
  overflow: hidden;
}

.cuento{
  font-size: 20px;
  padding: 20px;
	border-radius: 20px;
	border-style: solid;
	border-color: #99FF00;
	max-width: 980px;
	text-align: justify;
	margin:auto;
  display:block;	 
  overflow: hidden;
  margin-bottom: 50px;
}

span{
  text-shadow: 3px 3px red;
  font-size: 80px;
  font-family: serif;
  background-color: #00BFFF;
  border-radius: 16px;
}

.reseña, .conclusion{
  font-family: "Times New Roman";
  background-color: red;
  width: 20%;
}

.derecha{
  text-align: right;
}

.imagenuno{
  padding: 30px;
  text-align: center;
}

.siguientes{
  width: 20%;
}

 .siguientes ul {
   list-style-type: none;
   padding-left: 0px;
 }
 .siguientes ul li {
   padding-left: 10px;
   margin-top: 10px;
   background-color: white;
   border-radius: 16px;
 }
 
 .imagendos{
  padding: 100px;
  display: block;
  margin: auto;
  text-align: center;
}

.galeria{
    text-align: center;
}

.centro{
  text-align: center;
}

dt{
  color: linen;
}

h2, h3{
  font-family: "Times New Roman";
  background-color: white;
  width: 15%;
}

#disqus_thread{
background-color: lightsalmon;
}