.titulo-principal {
   font: bold 40px serif;
   color: #FF9900;
   text-align: center;
   text-shadow: 2px 2px  #6599FF;
}

 .lista {
   padding-left: 500px;
   width: 20%;
 }

.lista ul li{
   padding-left: 10px;
   margin-top: 10px;
   background-color: white;
   border-radius: 16px;
}

.imagen{
  display: block;
  margin: auto;
  border-color: black;
  border-style: solid;
}

body{
    background-image:  url("../imagenes/fondos.jpg")
}

.pie {
   background-color: white;
 }
 .pie p {
   text-align: center;
   color: black;
 }